body {
    text-align: center;
}

#button_submit {
    margin-top: 20px;
    margin-bottom: 20px;
}

#button_sort {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

input {
    margin: 10px;
}
